<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css" />
    <title>Document</title>
</head>
<script>
    function home() {
        location.href = "/lprod";
    }

</script>
<body>
    <h2>상품분류 상세보기</h2>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>상품분류 코드</th>
            <th>상품분류명</th>
        </tr>
        <!--
        model.addAttribute("article", articleEntity);

        article의 사용 범위 내에 article에 담긴 id, title, content의 값으로 치환
        -->
        {{#lprod}}
            <tr>
                <td>{{lprodId}}</td>
                <td>{{lprodGu}}</td>
                <td>{{lprodNm}}</td>
            </tr>
        {{/lprod}}
    </table>
    <input type="button" onclick="home()" value="목록" class="btn btn-primary"/>
    <a href="/lprod/{{lprodId}}/edit" class="btn btn-warning">수정</a>
    <a href="/lprod/{{lprodId}}/delete" class="btn btn-danger">삭제</a>
</body>
</html>