<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css"/>
    <title>Document</title>
</head>
<body>

<!--
            action : 요청URL.  페이지로 폼 데이터를 보낸다는 의미
            method : 속성 값으로 get과 post, 2가지를 설정할 수 있음.

            요청URI : /articles/update
        요청파라미터 : request{id=2,title=개똥이개똥이,content=즐거워즐거워}
        요청방식 : post
            -->

<form class="container" action="/articles/update" method="post">
    <input type="hidden" name="id" value="{{article.id}}">
    <div class="mb-3">
        <label class="form-label">제목</label>
        <input type="text" class="form-control" name="title" value="{{article.title}}"/>
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea class="form-control" rows="3" name="content" >{{article.content}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/articles/{{article.id}}" class="btn btn-secondary">목록</a>
</form>
<!-- ///// body 끝 ///// -->

</body>
</html>